$green: #43a047;
$red: #DC3545;
$blue:#235EE7;
$blue-2:#135BA0;
$blue-1:#DEEDFC;
$black:#000000;
$dark-1:#131313;
$dark-2:#1f1f1f;
$white: #FFFFFF;
$gray-1:#F4F5FA;
$gray-2: #E8ECF0;
$gray-3:#FAFBFC;
$gray-4:#969FB8;
$gray-5:#606972;
$gray-6:#737373;

$shadow: 1px 1px 1px -1px rgba(0, 0, 0, 0.1);

$app-bg:$gray-2;
$font-color-1: $dark-1;
$font-color-2: $dark-2;
$font-color-3: $gray-6;
$font-color-placeholder: $gray-6;
$border-color: $gray-2;
$comment-bg-color:$white;
$avatar-bg-color: $blue-1;
$avatar-font-color: $blue-2;
$lowlight-color:$gray-4;
$badge-mentions-bg:$blue-1;
$badge-mentions-font:$blue-2;